@import url('https://fonts.cdnfonts.com/css/akira-expanded');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #0a0a0a, #252525);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Akira Expanded', sans-serif;
}

.container {
  width: 90%; /* Adjust the width as needed */
  max-width: 1200px; /* Optional: set a max-width */
  margin: 0 auto; /* Center the container */
  padding: 0 20px; /* Add padding on the sides */
}